<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Silex Perch</title>
    {{ perch_runtime() }}
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>